* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

img[alt="assets/cartoon-network.jfif"] {
    width: 150px;
}

main {
    padding: 200px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

.bnt {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url(assets/fundo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
}

.sobre {
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}